---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import Layout from "../layouts/Layout.astro";
import { homePageContent, identity } from "../config";

import Link from "../components/Link.astro";

import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout seo={homePageContent.seo}>
	<section class="mt-10 max-w-2xl mx-auto px-6">
	  <!-- Title -->
   
	  <h1 class="text-3xl mb-1">{identity.name}</h1>
  
	  <!-- Description -->
	  <p class="opacity-60 mb-10">{homePageContent.role}</p>
	  
	  <!-- Homepage Text -->
	  <div class="mb-14">
		<Fragment set:html={homePageContent.description} />
	  </div>
	  <!-- <p class="max-w-md mb-14">
		{homePageContent.description}
	  </p> -->

	  
	  <!-- Links at bottom -->
	  <div class="flex items-center gap-4 group w-fit">
		{
		  homePageContent.links.map((link) => (
			<Link text={link.title} href={link.url} external={link.external} />
		  ))
		}
	  </div>
	</section>
</Layout>